LabLibraries/LibraryUsersideSchedulingProxy/src/META-INF/wsdl/IUsersideSchedulingProxy.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ilab.mit.edu/iLabs/Services" xmlns:s1="http://ilab.mit.edu/iLabs/type" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ilab.mit.edu/iLabs/Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ilab.mit.edu/iLabs/Services">
      <s:import namespace="http://ilab.mit.edu/iLabs/type" />
      <s:element name="RetrieveAvailableTimePeriods">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceBrokerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labServerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAvailableTimePeriodsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAvailableTimePeriodsResult" type="tns:ArrayOfTimePeriod" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTimePeriod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TimePeriod" nillable="true" type="s1:TimePeriod" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListReservations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceBrokerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labServerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labClientGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListReservationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListReservationsResult" type="tns:ArrayOfReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReservation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="s1:Reservation" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceBrokerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labServerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labClientGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddReservationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RevokeReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceBrokerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labServerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labClientGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RevokeReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RevokeReservationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceBrokerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labServerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:RedeemReservationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCredentialSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceBrokerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceBrokerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCredentialSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCredentialSetResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyCredentialSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceBrokerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceBrokerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyCredentialSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyCredentialSetResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveCredentialSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceBrokerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveCredentialSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveCredentialSetResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddExperimentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="labServerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labClientGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labClientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labClientVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lssGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddExperimentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddExperimentInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyExperimentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="labServerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labClientGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labClientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labClientVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lssGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyExperimentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyExperimentInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveExperimentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="labServerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labClientGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lssGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveExperimentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveExperimentInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLSSInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lssGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lssName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lssUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLSSInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddLSSInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyLSSInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lssGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lssName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lssUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyLSSInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyLSSInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveLSSInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lssGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveLSSInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveLSSInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ilab.mit.edu/iLabs/type">
      <s:complexType name="TimePeriod">
        <s:complexContent mixed="false">
          <s:extension base="s1:TimeBlock">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="quantum" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TimeBlock">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="startTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="duration" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="OperationAuthHeader" type="s1:OperationAuthHeader" />
      <s:complexType name="OperationAuthHeader">
        <s:complexContent mixed="false">
          <s:extension base="s1:AuthenticationHeader" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="coupon" type="s1:Coupon" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="Coupon">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="couponId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="issuerGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passkey" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Reservation">
        <s:complexContent mixed="false">
          <s:extension base="s1:TimeBlock">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="RedeemReservationResult" type="s1:Reservation" />
      <s:element name="AgentAuthHeader" type="s1:AgentAuthHeader" />
      <s:complexType name="AgentAuthHeader">
        <s:complexContent mixed="false">
          <s:extension base="s1:AuthenticationHeader">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="agentGuid" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveAvailableTimePeriodsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAvailableTimePeriods" />
  </wsdl:message>
  <wsdl:message name="RetrieveAvailableTimePeriodsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAvailableTimePeriodsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAvailableTimePeriodsOperationAuthHeader">
    <wsdl:part name="OperationAuthHeader" element="s1:OperationAuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListReservationsSoapIn">
    <wsdl:part name="parameters" element="tns:ListReservations" />
  </wsdl:message>
  <wsdl:message name="ListReservationsSoapOut">
    <wsdl:part name="parameters" element="tns:ListReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="ListReservationsOperationAuthHeader">
    <wsdl:part name="OperationAuthHeader" element="s1:OperationAuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddReservationSoapIn">
    <wsdl:part name="parameters" element="tns:AddReservation" />
  </wsdl:message>
  <wsdl:message name="AddReservationSoapOut">
    <wsdl:part name="parameters" element="tns:AddReservationResponse" />
  </wsdl:message>
  <wsdl:message name="AddReservationOperationAuthHeader">
    <wsdl:part name="OperationAuthHeader" element="s1:OperationAuthHeader" />
  </wsdl:message>
  <wsdl:message name="RevokeReservationSoapIn">
    <wsdl:part name="parameters" element="tns:RevokeReservation" />
  </wsdl:message>
  <wsdl:message name="RevokeReservationSoapOut">
    <wsdl:part name="parameters" element="tns:RevokeReservationResponse" />
  </wsdl:message>
  <wsdl:message name="RevokeReservationOperationAuthHeader">
    <wsdl:part name="OperationAuthHeader" element="s1:OperationAuthHeader" />
  </wsdl:message>
  <wsdl:message name="RedeemReservationSoapIn">
    <wsdl:part name="parameters" element="tns:RedeemReservation" />
  </wsdl:message>
  <wsdl:message name="RedeemReservationSoapOut">
    <wsdl:part name="parameters" element="tns:RedeemReservationResponse" />
  </wsdl:message>
  <wsdl:message name="RedeemReservationOperationAuthHeader">
    <wsdl:part name="OperationAuthHeader" element="s1:OperationAuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddCredentialSetSoapIn">
    <wsdl:part name="parameters" element="tns:AddCredentialSet" />
  </wsdl:message>
  <wsdl:message name="AddCredentialSetSoapOut">
    <wsdl:part name="parameters" element="tns:AddCredentialSetResponse" />
  </wsdl:message>
  <wsdl:message name="AddCredentialSetAgentAuthHeader">
    <wsdl:part name="AgentAuthHeader" element="s1:AgentAuthHeader" />
  </wsdl:message>
  <wsdl:message name="ModifyCredentialSetSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyCredentialSet" />
  </wsdl:message>
  <wsdl:message name="ModifyCredentialSetSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyCredentialSetResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyCredentialSetAgentAuthHeader">
    <wsdl:part name="AgentAuthHeader" element="s1:AgentAuthHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveCredentialSetSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveCredentialSet" />
  </wsdl:message>
  <wsdl:message name="RemoveCredentialSetSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveCredentialSetResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveCredentialSetAgentAuthHeader">
    <wsdl:part name="AgentAuthHeader" element="s1:AgentAuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddExperimentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddExperimentInfo" />
  </wsdl:message>
  <wsdl:message name="AddExperimentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddExperimentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddExperimentInfoAgentAuthHeader">
    <wsdl:part name="AgentAuthHeader" element="s1:AgentAuthHeader" />
  </wsdl:message>
  <wsdl:message name="ModifyExperimentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyExperimentInfo" />
  </wsdl:message>
  <wsdl:message name="ModifyExperimentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyExperimentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyExperimentInfoAgentAuthHeader">
    <wsdl:part name="AgentAuthHeader" element="s1:AgentAuthHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveExperimentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveExperimentInfo" />
  </wsdl:message>
  <wsdl:message name="RemoveExperimentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveExperimentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveExperimentInfoAgentAuthHeader">
    <wsdl:part name="AgentAuthHeader" element="s1:AgentAuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddLSSInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddLSSInfo" />
  </wsdl:message>
  <wsdl:message name="AddLSSInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddLSSInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddLSSInfoAgentAuthHeader">
    <wsdl:part name="AgentAuthHeader" element="s1:AgentAuthHeader" />
  </wsdl:message>
  <wsdl:message name="ModifyLSSInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyLSSInfo" />
  </wsdl:message>
  <wsdl:message name="ModifyLSSInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyLSSInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyLSSInfoAgentAuthHeader">
    <wsdl:part name="AgentAuthHeader" element="s1:AgentAuthHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveLSSInfoSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveLSSInfo" />
  </wsdl:message>
  <wsdl:message name="RemoveLSSInfoSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveLSSInfoResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveLSSInfoAgentAuthHeader">
    <wsdl:part name="AgentAuthHeader" element="s1:AgentAuthHeader" />
  </wsdl:message>
  <wsdl:portType name="UsersideSchedulingProxySoap">
    <wsdl:operation name="RetrieveAvailableTimePeriods">
      <wsdl:input message="tns:RetrieveAvailableTimePeriodsSoapIn" />
      <wsdl:output message="tns:RetrieveAvailableTimePeriodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListReservations">
      <wsdl:input message="tns:ListReservationsSoapIn" />
      <wsdl:output message="tns:ListReservationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddReservation">
      <wsdl:input message="tns:AddReservationSoapIn" />
      <wsdl:output message="tns:AddReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RevokeReservation">
      <wsdl:input message="tns:RevokeReservationSoapIn" />
      <wsdl:output message="tns:RevokeReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemReservation">
      <wsdl:input message="tns:RedeemReservationSoapIn" />
      <wsdl:output message="tns:RedeemReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCredentialSet">
      <wsdl:input message="tns:AddCredentialSetSoapIn" />
      <wsdl:output message="tns:AddCredentialSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCredentialSet">
      <wsdl:input message="tns:ModifyCredentialSetSoapIn" />
      <wsdl:output message="tns:ModifyCredentialSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCredentialSet">
      <wsdl:input message="tns:RemoveCredentialSetSoapIn" />
      <wsdl:output message="tns:RemoveCredentialSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddExperimentInfo">
      <wsdl:input message="tns:AddExperimentInfoSoapIn" />
      <wsdl:output message="tns:AddExperimentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyExperimentInfo">
      <wsdl:input message="tns:ModifyExperimentInfoSoapIn" />
      <wsdl:output message="tns:ModifyExperimentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveExperimentInfo">
      <wsdl:input message="tns:RemoveExperimentInfoSoapIn" />
      <wsdl:output message="tns:RemoveExperimentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLSSInfo">
      <wsdl:input message="tns:AddLSSInfoSoapIn" />
      <wsdl:output message="tns:AddLSSInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyLSSInfo">
      <wsdl:input message="tns:ModifyLSSInfoSoapIn" />
      <wsdl:output message="tns:ModifyLSSInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLSSInfo">
      <wsdl:input message="tns:RemoveLSSInfoSoapIn" />
      <wsdl:output message="tns:RemoveLSSInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersideSchedulingProxySoap" type="tns:UsersideSchedulingProxySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAvailableTimePeriods">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/RetrieveAvailableTimePeriods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RetrieveAvailableTimePeriodsOperationAuthHeader" part="OperationAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListReservations">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/ListReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListReservationsOperationAuthHeader" part="OperationAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReservation">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/AddReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddReservationOperationAuthHeader" part="OperationAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RevokeReservation">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/RevokeReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RevokeReservationOperationAuthHeader" part="OperationAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemReservation">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/RedeemReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RedeemReservationOperationAuthHeader" part="OperationAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCredentialSet">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/AddCredentialSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddCredentialSetAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCredentialSet">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/ModifyCredentialSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ModifyCredentialSetAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCredentialSet">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/RemoveCredentialSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveCredentialSetAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExperimentInfo">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/AddExperimentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddExperimentInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyExperimentInfo">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/ModifyExperimentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ModifyExperimentInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveExperimentInfo">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/RemoveExperimentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveExperimentInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLSSInfo">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/AddLSSInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddLSSInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyLSSInfo">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/ModifyLSSInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ModifyLSSInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLSSInfo">
      <soap:operation soapAction="http://ilab.mit.edu/iLabs/Services/RemoveLSSInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveLSSInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsersideSchedulingProxySoap12" type="tns:UsersideSchedulingProxySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAvailableTimePeriods">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/RetrieveAvailableTimePeriods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RetrieveAvailableTimePeriodsOperationAuthHeader" part="OperationAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListReservations">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/ListReservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListReservationsOperationAuthHeader" part="OperationAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReservation">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/AddReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddReservationOperationAuthHeader" part="OperationAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RevokeReservation">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/RevokeReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RevokeReservationOperationAuthHeader" part="OperationAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemReservation">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/RedeemReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RedeemReservationOperationAuthHeader" part="OperationAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCredentialSet">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/AddCredentialSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddCredentialSetAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCredentialSet">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/ModifyCredentialSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ModifyCredentialSetAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCredentialSet">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/RemoveCredentialSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveCredentialSetAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExperimentInfo">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/AddExperimentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddExperimentInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyExperimentInfo">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/ModifyExperimentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ModifyExperimentInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveExperimentInfo">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/RemoveExperimentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveExperimentInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLSSInfo">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/AddLSSInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddLSSInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyLSSInfo">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/ModifyLSSInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ModifyLSSInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLSSInfo">
      <soap12:operation soapAction="http://ilab.mit.edu/iLabs/Services/RemoveLSSInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveLSSInfoAgentAuthHeader" part="AgentAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersideSchedulingProxy">
    <wsdl:port name="UsersideSchedulingProxySoap" binding="tns:UsersideSchedulingProxySoap">
      <soap:address location="http://localhost:8099/IUsersideSchedulingProxy.asmx" />
    </wsdl:port>
    <wsdl:port name="UsersideSchedulingProxySoap12" binding="tns:UsersideSchedulingProxySoap12">
      <soap12:address location="http://localhost:8099/IUsersideSchedulingProxy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>